# Server Configuration
PORT=5000
JWT_SECRET=your_jwt_secret_here

# Twilio Configuration (For Real SMS)
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# Admin Config
ADMIN_PHONE=+1234567890
